2nd idea/index.html
2nd idea/timeline.js
2nd idea/css/style.css
2nd idea/images/bg.png
2nd idea/images/fb-social.png
2nd idea/images/google.social.png
2nd idea/images/in-social.png
2nd idea/images/modal.png
2nd idea/images/play-button.png
2nd idea/images/play-button2.png
2nd idea/images/twitter-social.png
