@charset "utf-8";
:root {
	--mainColor: #eaeaea;
	--secondaryColor: seashell;
	--borderColor: #c1c1c1;
	--mainText: firebrick;
	--secondarText: crimson;
}

* {
	font-family: "Expletus Sans", cursive;
}

/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.navigation {
	margin: 40px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a {
	/* font-family:bebas kai; */
	font-family: "Expletus Sans", cursive;

	color: #ececec;
	font-size: 30px;
}
.bar1,
.bar2,
.bar3 {
	margin: 5px 0px;
	background-color: #ffffff;
	border-radius: 20px;
	height: 3px;
}
.bar1 {
	width: 10px;
}
.bar2 {
	width: 20px;
}
.bar3 {
	width: 35px;
}
.bars {
	transform: rotate(180deg);
}

.modal {
	position: absolute;
	left: 65%;
	top: 15%;
	bottom: 0px;
	transform: translateX(-55%);

	max-height: 500px;
	height: 100%;
	width: auto;

	z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #ffffff;
	/* font-family: bebas kai; */
	font-family: "Expletus Sans", cursive;
	letter-spacing: 4px;
	line-height: 10px;
}

p,
li,
span,
label,
input,
select,
textarea {
	color: var(--secondaryText);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 130px;
}
h2 {
	font-size: 80px;
}
h3 {
	font-size: 26px;
}
.button-container {
	position: absolute;
	right: 12%;
	text-align: center;
}
.button {
	border: 5px solid #0d141a;
	border-radius: 50%;
	width: 80px;
	height: 70px;
	padding: 10px 5px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button img {
	height: 30px;
	margin-left: 8px;
	margin-top: 3px;
}
.container {
	margin: 0px 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30vh;
	position: relative;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.text-container {
	position: absolute;
	top: 15%;
	z-index: 1;
}
.play-text {
	color: #bbb9b9;
	font-family: myriad pro;
	font-size: 22px;
}
.button:hover {
	background-color: rgba(12, 14, 26, 1);
	transition: all ease 0.5s;
	box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.2);
}
.left,
.right {
	color: #f0f0f0;
	font-size: 14px;
	position: absolute;
	font-family: myriad pro;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(90deg);
}
.left {
	left: -20px;
}
.right {
	right: -20px;
}
.social {
	position: absolute;
	bottom: 30px;
	right: 40px;
}
.social img {
	height: 17px;
}
.social a {
	margin: 0px 10px;
}
.bottom-left {
	position: relative;
	bottom: 10px;
	left: 30px;
	display: flex;
	align-items: center;
	max-width: 90%;
}
.bottom-left h1 {
	color: #f2125b;
	margin-right: 5px;
	font-size: 70px;
	line-height: 0px;
	letter-spacing: 0px;
}
.line {
	width: 100px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 10px;
}

/*------ MAIN SECTION ----------------*/
.section-main {
	height: 80vh;
}

/*------ MAIN CONTAINER WRAPPER ------*/
.main-container-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.s-container,
.s-container::before,
.s-container::after {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	display: block;
	/* background-image: url(./images/timeline_bg.jpeg); */
}

/* body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}   */

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.s-container {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	/* background-image: url(././images/timeline_bg.jpeg); */
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
	z-index: 0;
}
/* 

.timeline{
	
  background: #F45B69;
  padding: 100px 0;
  
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;

  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.timeline ul {
	/* background-image: url("./images/timeline_bg.jpeg"); */
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
	font-family: var(--mainText);
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #fff;
}

.timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 3px;
	background: #f45b69;
}

.timeline ul li div::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #0d141a transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -460px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #0d141a;
}

time {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
	transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view /*::after*/ {
	background: #f45b69;
}

.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
	/* !DEFINE IF TRANSFORM or NOT */
	/* transform: translate3d(200px, 0, 0); */
}

.timeline ul li:nth-child(even) div {
	/* !DEFINE IF TRANSFORM or NOT */
	/* transform: translate3d(-200px, 0, 0); */
}

.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
	color: #f2e8e9;
	border: 5px solid #0d141a;
	border-radius: 5px;
	background-color: #0d141a;
	text-align: left;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.44);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.44);
}

.timeline ul li.in-view div:hover {
	background-color: rgba(12, 14, 26, 1);
	transition: all ease 0.5s;
	box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.2);
}

.about-me {
	color: whitesmoke;
	text-align: left;
	width: 80%;
	margin: auto;
	opacity: 0;
}

#salute {
	color: whitesmoke;
	text-align: left;
	width: 80%;
	margin: auto;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
	.timeline ul li div {
		width: 250px;
	}
	.timeline ul li:nth-child(even) div {
		left: -300px;
		/*250+45-6*/
	}
}

@media screen and (max-width: 750px) {
	h1,
	h2,
	.bottom-left h1 {
		font-size: 3.875em;
	}
}

@media screen and (max-width: 600px) {
	.timeline ul li {
		margin-left: 20px;
	}
	.timeline ul li div {
		width: calc(100vw - 91px);
	}
	.timeline ul li:nth-child(even) div {
		left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #0d141a transparent transparent;
	}
	.modal {
		max-height: 300px;
	}
	h1,
	h2,
	.bottom-left h1 {
		font-size: 1.875em;
	}
}
